<div class="role-tab">
    <div class="col-md-3">
      <h1 class="display-4">Corona Dashboard</h1>
      </div>
    <div class="role-list-wp" >
      <div class="table-responsive-md">
        <section style="width: 40%; float:left;">
            <div class="col-md-3" style="width: 30%;">
                <input class="form-control" type="text" placeholder="Search State" name="search" [(ngModel)]="filter">
              </div>
        <table class="table table-bordered mb-0" style="margin-left:10px;border: 1px solid #33B2FF;">
          <thead>
            <tr style="background:#33B2FF;color:white; font-size: small;">
              <th scope="col"  (click)="sort('role')" >S. No.</th>
              <th scope="col"  (click)="sort('stateName')" style="cursor:pointer;">	Name of State / UT</th>
              <th scope="col"  (click)="sort('totalConfirmedCasesIndian')" style="cursor:pointer;">Total Confirmed cases (Indian National)</th>
              <th scope="col" (click)="sort('totalConfirmedCasesForeign')" style="cursor:pointer;">Total Confirmed cases ( Foreign National )</th>
              <th scope="col" (click)="sort('cured')" style="cursor:pointer;">Cured/Discharged/Migrated</th>
              <th scope="col" (click)="sort('deaths')" style="cursor:pointer;">Death</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-size: small"   *ngFor="let data of covidData | orderBy: key : reverse | filter:filter; let i=index">
              <td width="10%"><p class="mb-0">{{i}}</p></td>
              <td width="15%"><p class="mb-0">{{data.stateName}}</p></td>
              <td width="25%">
                {{data.totalConfirmedCasesIndian}}</td>
              <td width="25%">
                {{data.totalConfirmedCasesForeign}}
              </td>
              <td width="15%">
                {{data.cured}}</td>
               <td width="15%">
                {{data.deaths}}
               </td>
            </tr>
          </tbody>
          
        </table>
    </section>
    <section style="width: 40%; float:left;padding-left: 30px;">
      <p>
      <google-chart #chart
      [title]="title"
      [type]="type"
      [data]="data"
      [columnNames]="columnNames"
      [options]="options"
      [width]="width"
      [height]="height">
   </google-chart>
  </p>
  <p>
    <google-chart #chart
    [title]="bartitle"
    [type]="bartype"
    [data]="bardata"
    [columnNames]="barcolumnNames"
    [options]="baroptions"
    [width]="barwidth"
    [height]="barheight">
 </google-chart>
</p>
      </section>
      </div>
    </div>
  </div>
 
   